<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hellof22.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/527a57ac-cea1-4bc3-bb2a-886a38219a2a/resourceGroups/HelloWorldFunction/providers/Microsoft.Web/sites/HelloF22</ResourceId>
    <UserName>$HelloF22</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://hellof22.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>