<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sagar31.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/527a57ac-cea1-4bc3-bb2a-886a38219a2a/resourceGroups/Hello/providers/Microsoft.Web/sites/Sagar31</ResourceId>
    <UserName>$Sagar31</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sagar31.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>